{% extends 'base.html' %}

{% block title%}

Google Analytics Data

{% endblock %}

{% block content %}

<h1>Google Analytics Data</h1>
<div class="container">
        <div class="col-md-6">


        {% if do_auth == True %}

        <button onclick="window.open('/auth', '_blank').focus()">
            Connect Endgrate to Google Analytics
        </button>

        {% else %}

        <script>
            let dataReceived = "";

            fetch("/get_data")
            .then(dataJson => {
                dataReceived = JSON.parse(dataJson)
            })

            console.log(dataReceived)
        </script>

        {% endif %}

        </div>
    </div>
</div>


{% endblock %}